In [22]:
import numpy as np
import pandas as pd

In [42]:
df = pd.read_csv('/kaggle/input/li-ion/english_li_ion_patents.csv')
df['Year'] = pd.to_datetime(df['Application.Date']).dt.year

df.dtypes

Unnamed: 0                       int64
Application.Date                object
Country.Code                    object
Probable.Patent.Assignee        object
Family.Number                    int64
Title                           object
Priority.Dates                  object
Abstract                        object
Claims                          object
Number.of.Forward.Citations      int64
Cooperative.Patent.Class        object
Grant                           object
Abstract.Languages              object
Claims.Languages                object
Title.Languages                 object
Year                           float64
dtype: object

In [24]:
print(df['Country.Code'].value_counts())

# Number of patents in different years
bins = [1920, 1991, 2009, 2017, 2024]
labels = ['1920-1990', '1991-2008', '2009-2016', '2017-2023']
df['Year.Range'] = pd.cut(df['Year'], bins=bins, labels=labels)
print(df['Year.Range'].value_counts())

# Top 10 Probable.Patent.Assignees
print(df['Probable.Patent.Assignee'].value_counts().nlargest(10))

# Distribution of Grant
print(df['Grant'].value_counts())

# Number of forward citations
print(df['Number.of.Forward.Citations'].describe())

Country.Code
US    37031
EP    10743
WO     3242
CA     2365
IN     2182
AU      821
GB      445
FR       69
KR       61
DE       20
SG       16
IL       14
NZ       13
SE       13
ZA        6
FI        5
PH        3
IE        2
MY        1
Name: count, dtype: int64
Year.Range
2009-2016    23729
2017-2023    19857
1991-2008    12188
1920-1990     1276
Name: count, dtype: int64
Probable.Patent.Assignee
LG ENERGY SOLUTION LTD                 7358
SAMSUNG SDI CO LTD                     4125
TOYOTA JIDOSHA KK                      1449
ROBERT BOSCH GMBH                      1395
SANYO ELECTRIC CO LTD                   978
GM GLOBAL TECHNOLOGY OPERATIONS LLC     960
SAMSUNG ELECTRONICS CO LTD              864
SK INNOVATION CO LTD                    595
LG CHEMICAL LTD                         582
MURATA MFG CO LTD                       562
Name: count, dtype: int64
Grant
NO     40315
YES    16737
Name: count, dtype: int64
count    57052.000000
mean         7.886665
std         32.681977
min          0.000000
25%          0.000000
50%          1.000000
75%          6.000000
max       1710.000000
Name: Number.of.Forward.Citations, dtype: float64

In [25]:
import matplotlib.pyplot as plt
import pandas as pd

# Define the columns to plot
columns_to_plot = ['Country.Code', 'Probable.Patent.Assignee', 'Family.Number']

for column in columns_to_plot:
    # Get the value counts
    value_counts = df[column].value_counts()
    
    # Keep the top 10 values and replace the rest with 'Other'
    to_keep = value_counts[:10].index
    df.loc[~df[column].isin(to_keep), column] = 'Other'
    
    # Recalculate the value counts
    value_counts = df[column].value_counts()
    print(value_counts)

Country.Code
US       37031
EP       10743
WO        3242
CA        2365
IN        2182
AU         821
GB         445
Other       73
FR          69
KR          61
DE          20
Name: count, dtype: int64
Probable.Patent.Assignee
Other                                  38184
LG ENERGY SOLUTION LTD                  7358
SAMSUNG SDI CO LTD                      4125
TOYOTA JIDOSHA KK                       1449
ROBERT BOSCH GMBH                       1395
SANYO ELECTRIC CO LTD                    978
GM GLOBAL TECHNOLOGY OPERATIONS LLC      960
SAMSUNG ELECTRONICS CO LTD               864
SK INNOVATION CO LTD                     595
LG CHEMICAL LTD                          582
MURATA MFG CO LTD                        562
Name: count, dtype: int64
Family.Number
Other       55739
63792182      231
52192840      191
51065154      164
28276411      159
63834380      144
82712726       98
57713258       94
71449429       89
43652113       81
53424874       62
Name: count, dtype: int64

/tmp/ipykernel_33/2529383101.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[~df[column].isin(to_keep), column] = 'Other'

In [26]:
df['Grant'].value_counts()

Grant
NO     40315
YES    16737
Name: count, dtype: int64

In [27]:
df = pd.read_csv('/kaggle/input/df-lemma-clean/df_lemma_dropped.csv')
df.head(2)

,Application.Date,Country.Code,Probable.Patent.Assignee,Family.Number,Title,Number.of.Forward.Citations,Grant,Year,Text,A,B,C,D,E,F,G,H,Y,Text_Lemma,Text_Lemma_unlist
0,2014-02-06,AU,ENCELL TECHNOLOGY INC,57136128,[EN] BATTERY COMPRISING A COATED IRON ANODE AN...,0,NO,2014.0,BATTERY COMPRISING A COATED IRON ANODE AND IM...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,"['iron', 'anode', 'performance', 'invention', ...",iron anode performance invention iron anode ni...
1,2014-02-06,AU,ENCELL TECHNOLOGY INC,57136128,[EN] BATTERY COMPRISING A COATED IRON ANODE AN...,0,YES,2014.0,BATTERY COMPRISING A COATED IRON ANODE AND IM...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,"['iron', 'anode', 'performance', 'invention', ...",iron anode performance invention iron anode ni...

In [28]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame
df['Text_word_count'] = df['Text'].apply(lambda x: len(str(x).split()))
df['Text_Lemma_word_count'] = df['Text_Lemma_unlist'].apply(lambda x: len(str(x).split()))

# Calculate mean, SD, and median for Text
mean_text = df['Text_word_count'].mean()
sd_text = df['Text_word_count'].std()
median_text = df['Text_word_count'].median()

# Calculate mean, SD, and median for Text_Lemma_unlist
mean_lemma = df['Text_Lemma_word_count'].mean()
sd_lemma = df['Text_Lemma_word_count'].std()
median_lemma = df['Text_Lemma_word_count'].median()

print(f"Text: Mean = {mean_text}, SD = {sd_text}, Median = {median_text}")
print(f"Text_Lemma_unlist: Mean = {mean_lemma}, SD = {sd_lemma}, Median = {median_lemma}")

Text: Mean = 929.1571050463621, SD = 581.5042667514032, Median = 796.0
Text_Lemma_unlist: Mean = 234.9654694922087, SD = 156.24849003862303, Median = 197.0

In [29]:
# Assuming df is your DataFrame
df['Text_word_count'] = df['Text'].apply(lambda x: len(str(x).split()))
df['Text_Lemma_word_count'] = df['Text_Lemma_unlist'].apply(lambda x: len(str(x).split()))

time_periods = [(min(df['Year']), 1990), (1991, 2008), (2009, 2016), (2017, max(df['Year']))]

for start, end in time_periods:
    df_period = df[df['Year'].between(start, end)]
    
    mean_text = df_period['Text_word_count'].mean()
    sd_text = df_period['Text_word_count'].std()
    median_text = df_period['Text_word_count'].median()

    mean_lemma = df_period['Text_Lemma_word_count'].mean()
    sd_lemma = df_period['Text_Lemma_word_count'].std()
    median_lemma = df_period['Text_Lemma_word_count'].median()
    
    mean_citations = df_period['Number.of.Forward.Citations'].mean()
    sd_citations = df_period['Number.of.Forward.Citations'].std()
    median_citations = df_period['Number.of.Forward.Citations'].median()

    print(f"Time period: {start} - {end}")
    print(f"Number.of.Forward.Citations: Mean = {mean_citations}, SD = {sd_citations}, Median = {median_citations}")
    print(f"Text: Mean = {mean_text}, SD = {sd_text}, Median = {median_text}")
    print(f"Text_Lemma_unlist: Mean = {mean_lemma}, SD = {sd_lemma}, Median = {median_lemma}")

Time period: 1920.0 - 1990
Number.of.Forward.Citations: Mean = 18.63330457290768, SD = 45.35295427558024, Median = 6.0
Text: Mean = 784.2217428817946, SD = 576.8946093859633, Median = 639.0
Text_Lemma_unlist: Mean = 192.45038826574634, SD = 145.56542397646643, Median = 156.0
Time period: 1991 - 2008
Number.of.Forward.Citations: Mean = 18.405010056683125, SD = 41.724685977251376, Median = 7.0
Text: Mean = 914.8473212653136, SD = 625.5536198877876, Median = 760.0
Text_Lemma_unlist: Mean = 223.98180654598647, SD = 159.91728666283583, Median = 183.0
Time period: 2009 - 2016
Number.of.Forward.Citations: Mean = 8.859221705863025, SD = 40.037448908277085, Median = 2.0
Text: Mean = 898.7358587992302, SD = 528.5306125716663, Median = 789.0
Text_Lemma_unlist: Mean = 229.06299582218466, SD = 144.08343556126138, Median = 197.0
Time period: 2017 - 2023.0
Number.of.Forward.Citations: Mean = 1.6194664073400702, SD = 11.400910904718918, Median = 0.0
Text: Mean = 970.2785928713373, SD = 602.6431131549148, Median = 826.0
Text_Lemma_unlist: Mean = 247.44505517737093, SD = 164.30904354497343, Median = 205.0

In [32]:
import pandas as pd

time_periods = [(min(df['Year']), 1990), (1991, 2008), (2009, 2016), (2017, max(df['Year']))]

for start, stop in time_periods:
    df = pd.read_csv(f'/kaggle/input/cluster-dict/cluster_dict{start}_{stop}.csv')
    all_word_pairs = pd.read_csv(f'/kaggle/input/tfidf-dummy/tfidf_dummy_{start}_{stop}_maxdf0.5_tfidfperc99.csv').drop('Unnamed: 0', axis=1).columns
    # Get the column of lists
    list_column = df.iloc[:, 1]

    # Concatenate the lists
    concatenated_list = []
    for row in list_column:
        # Remove the square brackets, split the string into a list, and remove the quotes around each element
        row_list = [item.strip("'\"") for item in row.strip('[]').split(', ')]
        concatenated_list.extend(row_list)

    n_word_pairs_in_clusters = len(concatenated_list)
    print(f'{start}-{stop}')
    print(f'Word Pairs in clusters: {n_word_pairs_in_clusters}')
    print(f'Single variable Word Pairs: {len(all_word_pairs)-n_word_pairs_in_clusters}')

1920.0-1990
Word Pairs in clusters: 170
Single variable Word Pairs: 37
1991-2008
Word Pairs in clusters: 3478
Single variable Word Pairs: 560
2009-2016
Word Pairs in clusters: 6693
Single variable Word Pairs: 1769
2017-2023.0
Word Pairs in clusters: 7796
Single variable Word Pairs: 2308

In [38]:
import pandas as pd

time_periods = [(min(df['Year']), 1990), (1991, 2008), (2009, 2016), (2017, max(df['Year']))]

for start, stop in time_periods:
    cluster_dict = pd.read_csv(f'/kaggle/input/cluster-dict/cluster_dict{start}_{stop}.csv')
    all_word_pairs = pd.read_csv(f'/kaggle/input/tfidf-dummy/tfidf_dummy_{start}_{stop}_maxdf0.5_tfidfperc99.csv').drop('Unnamed: 0', axis=1).columns
    # Get the column of lists
    list_column = cluster_dict.iloc[:, 1]

    # Concatenate the lists
    concatenated_list = []
    for row in list_column:
        # Remove the square brackets, split the string into a list, and remove the quotes around each element
        row_list = [item.strip("'\"") for item in row.strip('[]').split(', ')]
        concatenated_list.extend(row_list)

    n_word_pairs_in_clusters = len(concatenated_list)
    n_single_variable_word_pairs = len(all_word_pairs) - n_word_pairs_in_clusters

    print(f'{start}-{stop}')
    print(f'Word Pairs in clusters: {n_word_pairs_in_clusters}')
    print(f'Single variable Word Pairs: {n_single_variable_word_pairs}')

1920.0-1990
Word Pairs in clusters: 170
Single variable Word Pairs: 37
1991-2008
Word Pairs in clusters: 3478
Single variable Word Pairs: 560
2009-2016
Word Pairs in clusters: 6693
Single variable Word Pairs: 1769
2017-2023.0
Word Pairs in clusters: 7796
Single variable Word Pairs: 2308

In [39]:
import pandas as pd

time_periods = [(min(df['Year']), 1990), (1991, 2008), (2009, 2016), (2017, max(df['Year']))]

# Initialize a list to store the sets of all_word_pairs for each timeframe
all_word_pairs_list = []

for start, stop in time_periods:
    all_word_pairs = set(pd.read_csv(f'/kaggle/input/tfidf-dummy/tfidf_dummy_{start}_{stop}_maxdf0.5_tfidfperc99.csv').drop('Unnamed: 0', axis=1).columns)
    all_word_pairs_list.append(all_word_pairs)

# Check pairwise intersections
for i in range(len(time_periods)):
    for j in range(i+1, len(time_periods)):
        intersection = all_word_pairs_list[i].intersection(all_word_pairs_list[j])
        print(f'Intersection between {time_periods[i]} and {time_periods[j]}: {len(intersection)}')

# Check overall intersection
overall_intersection = set.intersection(*all_word_pairs_list)
print(f'Overall intersection: {len(overall_intersection)}')

Intersection between (1920.0, 1990) and (1991, 2008): 19
Intersection between (1920.0, 1990) and (2009, 2016): 12
Intersection between (1920.0, 1990) and (2017, 2023.0): 9
Intersection between (1991, 2008) and (2009, 2016): 379
Intersection between (1991, 2008) and (2017, 2023.0): 264
Intersection between (2009, 2016) and (2017, 2023.0): 859
Overall intersection: 4

In [49]:
import pandas as pd

time_periods = [(min(df['Year']), 1990), (1991, 2008), (2009, 2016), (2017, max(df['Year']))]

# Initialize a list to store the sets of all_word_pairs for each timeframe
all_word_pairs_list = []
total_word_pairs = set()

for start, stop in time_periods:
    all_word_pairs = set(pd.read_csv(f'/kaggle/input/tfidf-dummy/tfidf_dummy_{start}_{stop}_maxdf0.5_tfidfperc99.csv').drop('Unnamed: 0', axis=1).columns)
    all_word_pairs_list.append(all_word_pairs)
    total_word_pairs.update(all_word_pairs)

total_unique_word_pairs = len(total_word_pairs)

for i in range(len(time_periods)):
    for j in range(i+1, len(time_periods)):
        intersection = all_word_pairs_list[i].intersection(all_word_pairs_list[j])
        total_word_pairs = len(all_word_pairs_list[i]) + len(all_word_pairs_list[j])
        print(f'Proportion of intersection between {time_periods[i]} and {time_periods[j]}: {len(intersection) / total_word_pairs:.2f}')
# Check overall intersection
overall_intersection = set.intersection(*all_word_pairs_list)
print(f'Proportion of overall intersection: {len(overall_intersection) / total_unique_word_pairs:.2f}')

Proportion of intersection between (1920.0, 1990) and (1991, 2008): 0.00
Proportion of intersection between (1920.0, 1990) and (2009, 2016): 0.00
Proportion of intersection between (1920.0, 1990) and (2017, 2023.0): 0.00
Proportion of intersection between (1991, 2008) and (2009, 2016): 0.03
Proportion of intersection between (1991, 2008) and (2017, 2023.0): 0.02
Proportion of intersection between (2009, 2016) and (2017, 2023.0): 0.05
Proportion of overall intersection: 0.00018654976214905325